<div class="container">
<div class="row">
    <!-- Cluster f*** form column -->

    <div class="col-sm-12 col-md-7">

        <ngb-tabset>
            <!-- https://ng-bootstrap.github.io/#/components/tabs -->
            <ngb-tab title="General">
                <template ngbTabContent>
                    <section class="container form-section">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required>
                        </div>

                        <div class="form-group">
                            <label for="context">Context</label>
                            <input type="text" class="form-control" id="context" name="context" [(ngModel)]="model.context" required>
                        </div>

                        <div class="form-group">
                            <label for="version">Version</label>
                            <input type="number" class="form-control" id="version" name="version" [(ngModel)]="model.version" min="1.0" required>
                            <p id="versionHelp" class="form-text text-muted">e.g. v1</p>
                        </div>

                        <div class="form-group">
                            <label for="visibility">Visibility</label>
                            <select class="form-control" id="visibility" name="visibility" [(ngModel)]="model.visibility" required>
                                <option *ngFor="let vis of visibilities" [value]="vis">{{vis}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="thumbnail">Thumbnail</label>
                            <input type="file" class="form-control-file" disabled>
                            <!-- TODO: does this need to be implemented? -->
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="model.description"></textarea>
                        </div>

                        <form #tagForm="ngForm" (ngSubmit)="addTag()">
                            <div class="form-group">
                                <label for="tags">Tags</label>
                                <input type="text" class="form-control" id="tags" name="tags" [(ngModel)]="newTag">
                                <p id="tagsHelp" class="form-text text-muted">Type a tag and press enter</p>

                                <span class="tag tag-pill tag-primary" *ngFor="let tag of model.tags" style="margin-right:1em;">{{tag}}</span>
                            </div>
                        </form>
                    </section>
                </template>
            </ngb-tab>

<ngb-tab title="Owners">
    <template ngbTabContent>
        <section class="container form-section">
            <div class="form-group">
                <label for="businessOwner">Business owner</label>
                <input type="text" class="form-control" id="businessOwner" name="businessOwner" [(ngModel)]="model.businessOwner" required>
            </div>

            <div class="form-group">
                <label for="businessOwnerEmail">Business owner E-mail</label>
                <input type="email" class="form-control" id="businessOwnerEmail" name="businessOwnerEmail" [(ngModel)]="model.businessOwnerEmail"
                    required>
            </div>

            <div class="form-group">
                <label for="technicalOwner">Technical owner</label>
                <input type="text" class="form-control" id="technicalOwner" name="technicalOwner" [(ngModel)]="model.technicalOwner" required>
            </div>

            <div class="form-group">
                <label for="technicalOwnerEmail">Technical owner E-mail</label>
                <input type="email" class="form-control" id="technicalOwnerEmail" name="technicalOwnerEmail" [(ngModel)]="model.technicalOwnerEmail"
                    required>
            </div>
        </section>
    </template>
</ngb-tab>


<ngb-tab title="Technical">
    <template ngbTabContent>
        <section class="container form-section">
            <div class="form-group">
                <label for="provider">Provider</label>
                <input type="text" class="form-control" id="provider" name="provider" [(ngModel)]="model.provider" required>
            </div>



            <div class="form-group">
                <label for="transport">Transport protocols</label> <small id="transportHelp" class="text-muted">Hold ctrl to select multiple values</small>
                <select multiple class="form-control" id="transport" name="transport" [(ngModel)]="model.transport" required [size]="(transportModes.length > 4) ? 4 : transportModes.length">
                    <option *ngFor="let mode of transportModes" [value]="mode">{{mode}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="cacheTimeout">Cache timeout</label>
                <input type="number" min="0" step="1" class="form-control" id="cacheTimeout" name="cacheTimeout" [(ngModel)]="model.cacheTimeout">
            </div>

            <div class="form-group">
                <label for="tiers">Tiers</label> <small id="transportHelp" class="text-muted">Hold ctrl to select multiple values</small>
                <select multiple class="form-control" id="tiers" name="tiers" [(ngModel)]="model.tiers" required [size]="(tiers.length > 4) ? 4 : tiers.length">
                                    <option *ngFor="let tier of tiers" [value]="tier">{{tier}}</option>
                                </select>
            </div>

            <div class="form-check">
                <label for="responseCaching" class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="responseCaching" name="responseCaching" [(ngModel)]="model.responseCaching">
                                        Response caching
                                </label>
            </div>

            <div class="form-check">
                <label for="defaultVersion" class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="defaultVersion" name="defaultVersion" [(ngModel)]="model.defaultVersion">
                                        Default version
                                </label>
            </div>

            <div class="form-group">
                <label for="gatewayEnvironments">Gateway environments </label>
                <input type="text" class="form-control" id="gatewayEnvironments" name="gatewayEnvironments" [(ngModel)]="model.gatewayEnvironments">
                <p class="form-text text-muted">Separate values by commas</p>
            </div>
        </section>
    </template>
</ngb-tab>


<ngb-tab title="Definition">
    <template ngbTabContent>
        <section class="container form-section">
            <form #apiDefinitionForm="ngForm" (ngSubmit)="addApiDefinition()">
                <div class="form-group">
                    <label for="urlPattern">URL Pattern</label>
                    <div class="input-group">
                        <div class="input-group-addon">{{model.context}}/{{model.version}}</div>
                        <input type="text" class="form-control" id="urlPattern" name="urlPattern" [(ngModel)]="urlPatternPath" required placeholder="e.g. path/to/resource">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-check-inline" *ngFor="let verb of verbs">
                        <input class="form-check-input" type="checkbox" name="urlPatternVerbs" value="{{verb.name}}" [(ngModel)]="verb.checked"> {{verb.name}}
                    </label>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!apiDefinitionForm.form.valid">Add</button>
            </form>
            <br>

            <ngb-accordion *ngIf="model.apiConfigurations.length > 0" [closeOthers]="true">
                <ngb-panel *ngFor="let config of model.apiConfigurations; let i = index">
                    <template ngbPanelTitle>{{config.path}} ({{config.verb}})<span style="float:right;" class="dropdown-toggle"></span></template>
                    <template ngbPanelContent>
                        <div class="form-group">
                            <label for="produces">Content types <strong>produced</strong></label> <small class="text-muted">Hold ctrl to select multiple values</small>
                            <select multiple class="form-control" name="produces" [(ngModel)]="config.contentTypesProduced" required [size]="4">
                                <option *ngFor="let type of contentTypes" [value]="type">{{type}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="produces">Content types <strong>consumed</strong></label> <small class="text-muted">Hold ctrl to select multiple values</small>
                            <select multiple class="form-control" name="consumes" [(ngModel)]="config.contentTypesConsumed" required [size]="4">
                                <option *ngFor="let type of contentTypes" [value]="type">{{type}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Parameters</label>
                            <form #parameterForm="ngForm" class="form-inline" (ngSubmit)="addApiDefinitionParameter(i, parameterForm.value.parameter, $event); parameterForm.reset()" >
                                <input type="text" class="form-control" name="parameter" ngModel placeholder="Parameter name" required>
                                <button class="btn btn-default" type="submit" [disabled]="!parameterForm.form.valid">Add</button>
                            </form>
                            <br>
                            <table *ngIf="config.parameters != null && config.parameters.length > 0" class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Parameter type</th>
                                        <th>Data type</th>
                                        <th>Req'd</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let param of config.parameters">
                                        <td>{{param.name}}</td>
                                        <td><input type="text" class="form-control form-control-sm" [(ngModel)]="param.description"></td>
                                        <td>
                                            <div class="form-group">
                                            <select class="form-control form-control-sm" name="parameterType" [(ngModel)]="param.parameterType">
                                                <option *ngFor="let type of parameterTypes" value="{{type}}">{{type}}</option>
                                            </select>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="form-control form-control-sm" name="dataType" [(ngModel)]="param.dataType">
                                                <option *ngFor="let type of dataTypes" value="{{type}}">{{type}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <!-- TODO: center this -->
                                            <input type="checkbox" class="form-control-sm" [(ngModel)]="param.required">
                                         </td>
                                        <td>
                                            <!-- TODO: remove parameter -->
                                            <button type="button" class="btn btn-danger btn-sm" disabled>x</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </template>
                </ngb-panel>
            </ngb-accordion>

        </section>
    </template>
</ngb-tab>


<ngb-tab title="Endpoints">
    <template ngbTabContent>
        <section class="container form-section">
            <div class="alert alert-info" role="alert">
                To do...
            </div>
        </section>
    </template>
</ngb-tab>


<!--TODO: app settings -->
<ngb-tab title="Settings" [disabled]="true">
    <template ngbTabContent>
        <section class="container form-section">
        </section>
    </template>
</ngb-tab>

</ngb-tabset>

</div>





<!-- Output column -->
<div class="col-sm-12 col-md-5">
    <h2>Output</h2>
    <!--<div *ngIf="apiForm.valid">-->
    <div class="alert alert-warning" role="alert">
        <strong>NOTE:</strong> This is simply a JSON.stringify version of the API model used for development purposes. It is <strong>not the final expected output</strong>.
    </div>
    <pre>{{diagnostic}}</pre>
</div>

<!--<div *ngIf="!apiForm.valid">
            <p class="text-muted">Provide all required fields to view the generated JSON definition.</p>
        </div>-->
</div>

</div>